@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
}
.regular-font {
    font-family: "Inter", sans-serif;
}
.border-design{
    position: relative;
    width: 100%;
}
.border-design::after, .border-design::before{
    position: absolute;
    content: "";
    width: 43%;
    background-color: red;
    height: 1px;
}
.border-design::after{
    right: 0;
}
.border-design::before{
    left: 0;
}

